
body{
	background:url(back.jpg) ;
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
	position:relative;
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px
}

.player-0-panel {
	text-align:center;
	font-family: sans-serif;
	font-size: 30px;
	margin:10px;
	margin-left: 25px;
	padding: 20px;
	background:rgb(124, 189, 217);
	
}
.player-1-panel {
	font-family: sans-serif;
	text-align:center;
	font-size: 30px;
	margin:10px;
	margin-right:25px;
	padding: 20px;
	background:rgb(124, 189, 217);
	
}
.bttns{
	margin-top:80px;
	font-size:50px;
	font-size:18px;
	padding: 50px;
	text-align: center;
}
button{
	border:solid 2px;
	margin:20px;
	font-size:25px;
	transition: color 130ms linear;
}
button:hover
{
	color:pink;
}
.dice-image{
	height:110px;
	display:block;
	border:solid;

}
.panel-border{
	border:double 2px ;
}

*:focus{
	outline:none;
}